# Ignore everything
*

# But not these files...
!.gitignore
!alacritty
!dunst
!fastfetch
!htop
!hypr
!ncspot
!nvim
!tmux
!uwsm
!waybar
!wlogout
!wofi
!.zshenv
!.zshrc
!README.md
!starship-princess.toml
!starship-tokyo.toml
!starship.toml
!cava

# ...even if they are in subdirectories
# !*/
