# Ignore everything
/*

# But not these folders...
!alacritty/
!cava/
!dunst/
!fastfetch/
!htop/
!hypr/
!ncspot/
!nvim/
!tmux/
!uwsm/
!waybar/
!wlogout/
!wofi/

# But not these files
!.zshenv
!.zshrc
!README.md
!starship-princess.toml
!starship-tokyo.toml
!starship.toml
!.gitignore

# ...even if they are in subdirectories
# !*/
