@import "mocha.css";
* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    font-family: "Arimo Nerd Font";
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: @orange;
    border-radius: 7rem;
    border-width: 2px;
    border-style: solid;
    border-color: @orange;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#bluetooth,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
	  background-color: transparent;
    padding: 0 10px;
    border-radius: 7rem;
}


#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#bluetooth:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background-color: transparent;
    color: white;
}


#workspaces {
  border-radius: 7rem;
  background-color: transparent;
}

#workspaces button {
  color: @orange;
  border-radius: 7rem;
}

#workspaces button.active {
  color: white;
  background-color: @orange;
  border-radius: 7rem;
}

#workspaces button:hover {
  color: white;
  background-color: transparent;
  border-radius: 7rem;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    background-color: transparent;
    border-radius: 7rem;
}
#custom-arch:hover {
    background-color: transparent;
    color: white;
}

#custom-power {
    margin-right: 5px;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 7rem;
}
#custom-power:hover {
    background-color: transparent;
    color: white;
}

#tray {
  font-size: 5px;
}

#window {
  border-radius: 7rem;
  padding: 0 10px;
  background-color: transparent;
  color: @orange;
  margin-left: 5px;
  margin-right: 5px;
}
#window:hover {
    background-color: transparent;
    color: white;
}
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#mpris {
	border-radius: 7rem;
	background-color: transparent;
	padding: 0 10px;
}
#mpris:hover {
    background-color: transparent;
    color: white;
}
